.bash_logout
.cache/
.local/
.config/GIMP/
.config/git/config
.config/npm/
.config/Code/
.config/dconf/
.config/discord/
.config/galculator/
.config/nitrogen/
.config/pulse/
.config/qutebrowser/bookmarks
.config/qutebrowser/quickmarks
.config/VirtualBox/
.gitconfig
.mozilla/
.pki/
.ssh/
.config/Code*
.vscode*
suckless/
VirtualBox VMs/
Downloads/
cursos/
roms/
documentos/
projetos/
img vid/
favoritos
pacman-Rns
