[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets
[submodule "code/c/dash"]
	path = code/c/dash
	url = https://gitlab.com/lucastavaresa/dash
[submodule "code/shellscripts/shellscripts"]
	path = code/shellscripts/shellscripts
	url = https://github.com/lucastavaresa/shellscripts
[submodule "code/shellscripts/orgmenu"]
	path = code/shellscripts/orgmenu
	url = https://github.com/lucastavaresa/orgmenu
[submodule "code/shellscripts/sgrade"]
	path = code/shellscripts/sgrade
	url = https://github.com/lucastavaresa/sgrade
[submodule "code/c/fastfetch"]
	path = code/c/fastfetch
	url = https://github.com/lucastavaresa/fastfetch
[submodule "code/shellscripts/trash"]
	path = code/shellscripts/trash
	url = https://github.com/lucastavaresa/posix-trash.git
[submodule "code/lua/nvim/simpleIndentGuides.nvim"]
	path = code/lua/nvim/simpleIndentGuides.nvim
	url = https://github.com/lucastavaresa/simpleIndentGuides.nvim.git
[submodule "code/lua/nvim/command.nvim"]
	path = code/lua/nvim/command.nvim
	url = https://github.com/lucastavaresa/command.nvim.git
