[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets
[submodule "code/shellscripts/shellscripts"]
	path = code/shellscripts/shellscripts
	url = https://github.com/lucastavaresa/shellscripts
[submodule "code/shellscripts/orgmenu"]
	path = code/shellscripts/orgmenu
	url = https://github.com/lucastavaresa/orgmenu
[submodule "code/shellscripts/sgrade"]
	path = code/shellscripts/sgrade
	url = https://github.com/lucastavaresa/sgrade
[submodule "code/lua/nvim/simpleIndentGuides.nvim"]
	path = code/lua/nvim/simpleIndentGuides.nvim
	url = https://github.com/lucastavaresa/simpleIndentGuides.nvim.git
[submodule "code/lua/nvim/SingleComment.nvim"]
	path = code/lua/nvim/SingleComment.nvim
	url = https://github.com/lucastavaresa/SingleComment.nvim.git
[submodule "code/c/st"]
	path = code/c/st
	url = https://codeberg.org/lucastavaresa/st
[submodule "code/c/ueberzugpp"]
	path = code/c/ueberzugpp
	url = https://github.com/jstkdng/ueberzugpp.git
[submodule "code/c/gf"]
	path = code/c/gf
	url = https://github.com/nakst/gf.git
[submodule "code/void-packages"]
	path = code/void-packages
	url = https://github.com/lucastavaresa/void-packages
[submodule "code/nelua/nelua-lsp"]
	path = code/nelua/nelua-lsp
	url = https://github.com/codehz/nelua-lsp
[submodule ".config/yazi/plugins"]
	path = .config/yazi/plugins
	url = https://github.com/yazi-rs/plugins
