.Xauthority
.bash_history
.bash_logout
.cache/
.cargo/
.config/GIMP/
.config/dconf/
.config/discord/
.config/galculator/
.config/nitrogen/
.config/pulse/
.gitconfig
.gnupg/
.icons/
.local/
.mozilla/
.npm/
.pki/
.ssh/
.terminfo/
dwm/
slstatus/
st/
dmenu/
go/
.w3m/
VirtualBox VMs/
Downloads/
