[submodule "code/shellscripts/shellscripts"]
	path = code/shellscripts/shellscripts
	url = https://github.com/lucastavaresa/shellscripts
[submodule "code/shellscripts/orgmenu"]
	path = code/shellscripts/orgmenu
	url = https://github.com/lucastavaresa/orgmenu
[submodule "code/shellscripts/sgrade"]
	path = code/shellscripts/sgrade
	url = https://github.com/lucastavaresa/sgrade
[submodule "code/lua/nvim/simpleIndentGuides.nvim"]
	path = code/lua/nvim/simpleIndentGuides.nvim
	url = https://github.com/lucastavaresa/simpleIndentGuides.nvim.git
[submodule "code/lua/nvim/SingleComment.nvim"]
	path = code/lua/nvim/SingleComment.nvim
	url = https://github.com/lucastavaresa/SingleComment.nvim.git
[submodule "code/void-packages"]
	path = code/void-packages
	url = https://github.com/lucastavaresa/void-packages
[submodule ".config/yazi/plugins"]
	path = .config/yazi/plugins
	url = https://github.com/yazi-rs/plugins
[submodule "code/lua/nvim/headers.nvim"]
	path = code/lua/nvim/headers.nvim
	url = git@github.com:lucastavaresa/headers.nvim.git
