[Desktop Entry]
Type=Application
TryExec=term_open
Exec=term_open
Icon=Terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=OpenTerminal
GenericName=Terminal
Comment=Open whatever you especified as $$TERMINAL
StartupWMClass=${TERMINAL}
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=term_open
